.AddWeatherBlock {
    margin-top: 10px;
    font-size: 20px;
}

.AddrightWeather {
  padding-top: 2%;
}

.AddCity {
  font-weight: bold;
  font-size: 20px;
}

.AddIcon {
  float: left;
  margin: 20px;
  border: 2px #3d485b ridge;
}

.AddTemp {
  margin: 22px;
  font-size: 30px;
}

.AddPressure, .AddHumidity, .AddWind, .AddClouds, .AddCoords {
  font-family: sans-serif;
  background-color: rgba(197, 204, 213, 0.7);
  background-repeat: no-repeat;
  padding: 1%;
  border-style: ridge;
  border-color: #3d485b;
  border-width: 3px;
}

.button {
  padding: 1%;
  outline: none;
  font-family: 'Bitter', serif;
  color: #21224b;
  border: 2px #3d485b ridge;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.button:hover {
  background-color: #586d7c;
  border-color: #c18ce3;
  color: white;
  cursor: pointer;
}

.button:active {
  border-style: inset;
}
